.sized{
    width: 300px;
    height: auto;
    padding-left: 10px;
    border-radius: 2px;
}
.Load{
    color: bisque;
    text-decoration: bold;
     text-align: center;
     size: 30px;
}
.name{
    text-transform: capitalize;
    font-size: 30px;
    
    color: darkblue;
}
.bgm{
    box-shadow: coral;
    width: 500px;
    height: auto;
}
.p1{
    color: black;
    size: 10px;
    text-align: end;
}
